.header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
   // display: flex;
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(115,143,147,0.3);
    z-index: 100;
    nav {
      //  display: flex;
       // justify-content: space-between;
        max-width: 1048px;
        padding: 4px 24px;
        margin: auto;
        ul {
            display: flex;
            justify-content: space-between;
            //width: inherit;
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 14px;
            padding-inline-start: 0;
            li {
                list-style: none;
            }
        }
    }
    .vl {
        border-left: 16px solid #068932;
        height: 1.875rem;
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media (min-width:480px) {
    .nav-menu {
        display: none;
    }
}

@media (max-width:480px) {
    .nav-menu {
        display: block;
    }
    .header > nav > ul {
        display: none;
    }
}